* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 50rem;
}

input {
  display: none;
}

.slides__container {
  padding: 15px;
  border: .2rem solid black;
}

.slides__wrapper {
  width: 100%;
  height: 35rem; 
  overflow: hidden;
}

.slides__content {
  display: flex;
  width: 400%;  
  height: 100%;
}

.img__wrapper {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 25%;
}

.img__wrapper img {
  height: 100%;
}

.btns {
  display: flex;
}

label {
  background-color: blue;
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

#r1:checked ~ .img__wrapper {
  margin-left: 0;
}

#r2:checked ~ .slides__content {
  margin-left: -750px;
}